<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ASLectra</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="images/favicon.ico">
</head>
<!--/head-->

<body>

<!--.preloader-->
<div class="preloader"><i class="fa fa-circle-o-notch fa-spin"></i></div>
<!--/.preloader-->

<header id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active" style="">
                <div class="caption">
                    <h1 class="animated fadeInLeftBig">Bienvenue sur l'<span>ASLectra</span></h1>
                    <a data-scroll class="btn btn-start animated fadeInUpBig" href="https://teams.microsoft.com/l/channel/19%3ad402d7d5fc164372b440cd48b5b505fd%40thread.skype/G%25C3%25A9n%25C3%25A9ral?groupId=e2184ed8-dfc6-47de-ac57-d07361426829&tenantId=15eb2494-5298-4347-81a3-e2d3c08a0f82">Rendez vous sur la page Teams de l'ASLectra</a>
                </div>
            </div>
        </div>
        <a id="tohash" href="#sections"><i class="fa fa-angle-down"></i></a>

    </div>
    <!--/#home-slider-->
    <div class="main-nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                    <h1 style="color:white;">Le site est maintenant hébergé sur le TEAMS Lectra. </h1>
    
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="scroll">Vous pouvez accéder au site ASL directement depuis votre client Microsoft Teams et l'équipe ASL, si vous n'avez pas accès à cette équipe demandez l'accès <a href="https://teams.microsoft.com/l/channel/19%3ad402d7d5fc164372b440cd48b5b505fd%40thread.skype/G%25C3%25A9n%25C3%25A9ral?groupId=e2184ed8-dfc6-47de-ac57-d07361426829&tenantId=15eb2494-5298-4347-81a3-e2d3c08a0f82">sur ce lien.</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/#main-nav-->
</header>
<!--/#home-->




<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="js/jquery.inview.min.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>
<script type="text/javascript" src="js/mousescroll.js"></script>
<script type="text/javascript" src="js/smoothscroll.js"></script>
<script type="text/javascript" src="js/jquery.countTo.js"></script>
<script type="text/javascript" src="js/lightbox.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>
