<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ASLectra</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="images/favicon.ico">
</head>
<!--/head-->

<body>

<!--.preloader-->
<div class="preloader"><i class="fa fa-circle-o-notch fa-spin"></i></div>
<!--/.preloader-->

<header id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active" style="background-image: url(images/slider/1.jpg)">
                <div class="caption">
                    <h1 class="animated fadeInLeftBig">Bienvenue sur l'<span>ASLectra</span></h1>
                    <a data-scroll class="btn btn-start animated fadeInUpBig" href="#sections">En savoir plus</a>
                </div>
            </div>
        </div>
        <a id="tohash" href="#sections"><i class="fa fa-angle-down"></i></a>

    </div>
    <!--/#home-slider-->
    <div class="main-nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <h1 style="color:white;">ASLectra</h1>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="scroll"><a href="#sections">Les sections</a></li>
                    <li class="scroll"><a href="#features">Les bénévoles</a></li>
                    <li class="scroll"><a href="#office">Le bureau</a></li>
                    <li class="scroll"><a href="#about-us">A propos de l'ASLectra</a></li>
                    <li class="scroll"><a href="#contact">Plan d'accès</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/#main-nav-->
</header>
<!--/#home-->

<section id="sections">
    <div class="container">
        <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="row">
                <div class="text-center col-sm-8 col-sm-offset-2">
                    <h2>Nos sections</h2>

                    <p>Les sections qui sont présentées ci-dessous sont toutes disponibles à Lectra</p>
                </div>
            </div>
        </div>
        <div class="text-center our-services">
            <div class="row">
                <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <img src="images/sections/1-athletisme.png" alt="section athletisme">

                    <div class="service-info">
                        <h3>Athlétisme</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-push-4">
                            <a href="documents/2015-2016-description%20Athlétisme.pdf" class="btn btn-info">
                                Description
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <img src="images/sections/2-badminton.png" alt="section badminton">

                    <div class="service-info">
                        <h3>Badminton</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-push-2">
                            <a href="http://aslectra.com/auth/login" class="btn btn-success">
                                Site internet
                            </a>
                        </div>
                        <div class="col-md-4 col-md-push-2">
                            <a href="documents/2015-2016-description%20Badminton.pdf" class="btn btn-info">
                                Description
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
                    <img src="images/sections/3-basketball.png" alt="section basketball">

                    <div class="service-info">
                        <h3>Basketball</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-push-4">
                            <a href="documents/2015-2016-description%20Basketball.pdf" class="btn btn-info">
                                Description
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="650ms">
                    <img src="images/sections/4-football.png" alt="section football">

                    <div class="service-info">
                        <h3>Football</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-push-4">
                            <a href="documents/2015-2016-description%20Football.pdf" class="btn btn-info">
                                Description
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="750ms">
                    <img src="images/sections/5-gym.png" alt="section gym">

                    <div class="service-info">
                        <h3>Gym</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-push-2">
                            <a href="documents/bulletin_d'inscription_gym.xlsx" class="btn btn-success">
                                Formulaire
                            </a>
                        </div>
                        <div class="col-md-4 col-md-push-2">
                            <a href="documents/2015-2016-description%20Badminton.pdf" class="btn btn-info">
                                Description
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
                    <img src="images/sections/6-kundalini.png" alt="section kundalini">

                    <div class="service-info">
                        <h3>Kundalini</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-push-4">
                            <a href="documents/2015-2016-description%20Kundalini%20Yoga.pdf" class="btn btn-info">
                                Description
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <img src="images/sections/7-pelote.png" alt="section pelote">

                    <div class="service-info">
                        <h3>Pelote</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-push-4">
                            <a href="documents/2015-2016-description%20Pelote.pdf" class="btn btn-info">
                                Description
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <img src="images/sections/8-soccer5.png" alt="section soccer5">

                    <div class="service-info">
                        <h3>Soccer 5</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-push-4">
                            <a href="documents/2015-2016-description%20Soccer5.pdf" class="btn btn-info">
                                Description
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
                    <img src="images/sections/9-tennis.png" alt="section tennis">

                    <div class="service-info">
                        <h3>Tennis</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-push-4">
                            <a href="documents/2015-2016-description%20Tennis.pdf" class="btn btn-info">
                                Description
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="650ms">
                    <img src="images/sections/10-volley.png" alt="section volley">

                    <div class="service-info">
                        <h3>Volley</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-push-4">
                            <a href="documents/2015-2016-description%20Volley.pdf" class="btn btn-info">
                                Description
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="750ms">
                    <img src="images/sections/11-yoga.png" alt="section yoga">

                    <div class="service-info">
                        <h3>Yoga</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-push-2">
                            <a href="documents/2015-2016-description%20Yoga%20(paris)-plaquette.pdf"
                               class="btn btn-success">
                                Plaquette
                            </a>
                        </div>
                        <div class="col-md-4 col-md-push-2">
                            <a href="documents/2015-2016-description%20Yoga%20(paris).pdf" class="btn btn-info">
                                Description
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#services-->

<section id="features" class="parallax">
    <div class="container">
        <h2>Les bénévoles</h2>
        <br>
        <div class="row count">
            <div class="col-xs-2 col-xs-push-1 wow fadeInLeft text-center" data-wow-duration="1000ms"
                 data-wow-delay="300ms">
                <div class="row">
                    <div class="col-sm-8 col-sm-push-2">
                        <img src="images/team/Benoit%20Paissard.png" alt="photo de Benoit Paissard"
                             class="img-responsive img-circle"
                             width="100px">
                    </div>
                </div>

                <strong>Benoit Paissard</strong>
                <br>
                <small>Athéltisme</small>
            </div>
            <div class="col-xs-2 col-xs-push-1 wow fadeInLeft text-center" data-wow-duration="1000ms"
                 data-wow-delay="300ms">
                <div class="row">
                    <div class="col-sm-8 col-sm-push-2">
                        <img src="images/team/Sebastien%20Fernandes.png" alt="photo de Sebastien Fernandes"
                             class="img-responsive img-circle"
                             width="100px">
                    </div>
                </div>

                <strong>Sébastien Fernandes</strong>
                <br>
                <small>Athéltisme</small>
            </div>
            <div class="col-xs-2 col-xs-push-1 wow fadeInLeft text-center" data-wow-duration="1000ms"
                 data-wow-delay="300ms">
                <div class="row">
                    <div class="col-sm-8 col-sm-push-2">
                        <img src="images/team/Christophe%20Maheo.jpg" alt="photo de Christophe Maheo"
                             class="img-responsive img-circle"
                             width="100px">
                    </div>
                </div>

                <strong>Christophe Mahéo</strong>
                <br>
                <small>Badminton</small>
            </div>
            <div class="col-xs-2 col-xs-push-1 wow fadeInLeft text-center" data-wow-duration="1000ms"
                 data-wow-delay="300ms">
                <div class="row">
                    <div class="col-sm-8 col-sm-push-2">
                        <img src="images/team/Frederic%20Hanin.png" alt="photo Frederic Hanin"
                             class="img-responsive img-circle"
                             width="100px">
                    </div>
                </div>

                <strong>Frédéric Hanin</strong>
                <br>
                <small>Basketball</small>
            </div>
            <div class="col-xs-2 col-xs-push-1 wow fadeInLeft text-center" data-wow-duration="1000ms"
                 data-wow-delay="300ms">
                <div class="row">
                    <div class="col-sm-8 col-sm-push-2">
                        <img src="images/team/Pascal%20Fong%20Kye.png" alt="photo de Pascal Fong Kye"
                             class="img-responsive img-circle"
                             width="100px">
                    </div>
                </div>

                <strong>Pascal Fong Kye</strong>
                <br>
                <small>Football</small>
            </div>
        </div>
        <br>
        <br>
        <div class="row count">
            <div class="col-xs-2 col-xs-push-1 wow fadeInLeft text-center" data-wow-duration="1000ms"
                 data-wow-delay="300ms">
                <div class="row">
                    <div class="col-sm-8 col-sm-push-2">
                        <img src="images/team/Sylvie%20Canon.png" alt="photo de Sylvie Canon"
                             class="img-responsive img-circle"
                             width="100px">
                    </div>
                </div>

                <strong>Sylvie Canon</strong>
                <br>
                <small>Gym</small>
            </div>
            <div class="col-xs-2 col-xs-push-1 wow fadeInLeft text-center" data-wow-duration="1000ms"
                 data-wow-delay="300ms">
                <div class="row">
                    <div class="col-sm-8 col-sm-push-2">
                        <img src="images/team/Frederique%20Faucher.png" alt="photo de Frederique Faucher"
                             class="img-responsive img-circle"
                             width="100px">
                    </div>
                </div>

                <strong>Frédérique Faucher</strong>
                <br>
                <small>Kundalini</small>
            </div>
            <div class="col-xs-2 col-xs-push-1 wow fadeInLeft text-center" data-wow-duration="1000ms"
                 data-wow-delay="300ms">
                <div class="row">
                    <div class="col-sm-8 col-sm-push-2">
                        <img src="images/team/Xavier%20Larramendy.png" alt="photo de Xavier Larramendy" class="img-responsive img-circle"
                             width="100px">
                    </div>
                </div>

                <strong>Xavier Larramendy</strong>
                <br>
                <small>Pelote</small>
            </div>
            <div class="col-xs-2 col-xs-push-1 wow fadeInLeft text-center" data-wow-duration="1000ms"
                 data-wow-delay="300ms">
                <div class="row">
                    <div class="col-sm-8 col-sm-push-2">
                        <img src="images/team/Peyo%20Garaicoechea.png" alt="photo de Peyo Garaicoechea"
                             class="img-responsive img-circle"
                             width="100px">
                    </div>
                </div>

                <strong>Peyo Garaicoechea</strong>
                <br>
                <small>Pelote</small>
            </div>
            <div class="col-xs-2 col-xs-push-1 wow fadeInLeft text-center" data-wow-duration="1000ms"
                 data-wow-delay="300ms">
                <div class="row">
                    <div class="col-sm-8 col-sm-push-2">
                        <img src="images/team/Nicolas%20Bacot.png" alt="photo de Nicolas Bacot"
                             class="img-responsive img-circle"
                             width="100px">
                    </div>
                </div>

                <strong>Nicolas Bacot</strong>
                <br>
                <small>Soccer 5</small>
            </div>
        </div>
        <br>
        <br>
        <div class="row count">
            <div class="col-xs-2 col-xs-push-1 wow fadeInLeft text-center" data-wow-duration="1000ms"
                 data-wow-delay="300ms">
                <div class="row">
                    <div class="col-sm-8 col-sm-push-2">
                        <img src="images/team/Sylvain%20Chagnaud.png" alt="photo de Sylvain Chagnaud"
                             class="img-responsive img-circle"
                             width="100px">
                    </div>
                </div>

                <strong>Sylvain Chagnaud</strong>
                <br>
                <small>Soccer 5</small>
            </div>
            <div class="col-xs-2 col-xs-push-1 wow fadeInLeft text-center" data-wow-duration="1000ms"
                 data-wow-delay="300ms">
                <div class="row">
                    <div class="col-sm-8 col-sm-push-2">
                        <img src="images/team/Jerome%20Allain.png" alt="photo de Jerome Allain"
                             class="img-responsive img-circle"
                             width="100px">
                    </div>
                </div>

                <strong>Jérome Allain</strong>
                <br>
                <small>Tennis</small>
            </div>
            <div class="col-xs-2 col-xs-push-1 wow fadeInLeft text-center" data-wow-duration="1000ms"
                 data-wow-delay="300ms">
                <div class="row">
                    <div class="col-sm-8 col-sm-push-2">
                        <img src="images/team/Christine%20Ondars.png" alt="photo de Christine Ondars"
                             class="img-responsive img-circle"
                             width="100px">
                    </div>
                </div>

                <strong>Christine Ondars</strong>
                <br>
                <small>Volley</small>
            </div>
            <div class="col-xs-2 col-xs-push-1 wow fadeInLeft text-center" data-wow-duration="1000ms"
                 data-wow-delay="300ms">
                <div class="row">
                    <div class="col-sm-8 col-sm-push-2">
                        <img src="images/team/Magali%20Anquetil.png" alt="photo de Magali Anquetil"
                             class="img-responsive img-circle"
                             width="100px">
                    </div>
                </div>

                <strong>Magali Anquetil</strong>
                <br>
                <small>Volley</small>
            </div>
            <div class="col-xs-2 col-xs-push-1 wow fadeInLeft text-center" data-wow-duration="1000ms"
                 data-wow-delay="300ms">
                <div class="row">
                    <div class="col-sm-8 col-sm-push-2">
                        <img src="images/team/Servane%20Billot.png" alt="photo de Servane Billot"
                             class="img-responsive img-circle"
                             width="100px">
                    </div>
                </div>

                <strong>Servane Billot</strong>
                <br>
                <small>Yoga</small>
            </div>
        </div>
    </div>
</section>
<!--/#features-->

<section id="office">
    <div class="container">
        <div class="row">
            <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms"
                 data-wow-delay="300ms">
                <h2>Le bureau</h2>

            </div>
        </div>
        <div class="team-members">
            <div class="row">
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="member-image">
                            <img class="img-responsive img-rounded" src="images/team/Christophe%20Maheo.jpg"
                                 alt="photo de christophe maheo">
                        </div>
                        <div class="member-info">
                            <h3>Christophe Mahéo</h3>
                            <h4>Président</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <div class="member-image">
                            <img class="img-responsive img-rounded" src="images/team/Peyo%20Garaicoechea.png"
                                 alt="photo de Peyo Garaicoechea">
                        </div>
                        <div class="member-info">
                            <h3>Peyo Garaicoechea</h3>
                            <h4>Trésorier</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="800ms">
                        <div class="member-image">
                            <img class="img-responsive img-rounded" src="images/team/Sebastien%20Fernandes.png"
                                 alt="photo de Sebastien Fernandes">
                        </div>
                        <div class="member-info">
                            <h3>Sébastien Fernandes</h3>
                            <h4>Secrétaire</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="1100ms">
                        <div class="member-image">
                            <img class="img-responsive img-rounded" src="images/team/inconnu.png"
                                 alt="photo de Christine Ondars">
                        </div>
                        <div class="member-info">
                            <h3>Christine Ondars</h3>
                            <h4>Secrétaire suppléant</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#team-->

<section id="about-us" class="parallax">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>A propos de l'association sportive lectra</h2>

                    <p class="text-justify">L'ASL est une association sportive normalement déclarée, à but non lucratif
                        loi
                        de 1901. Son
                        but,
                        favoriser les activités sportives de compétition et de loisir entre les salariés de Lectra. Ces
                        activités sont également ouvertes, avec les mêmes avantages, au conjoint et aux enfants de
                        ceux-ci. Hors ces gens là, toute personne étrangère à la société peut faire partie de
                        l'association, dans des conditions financières généralement différentes étant donné son
                        important subventionnement par le Comité d'Entreprise de Lectra.
                    </p>

                    <p class="text-justify">Pour être membre de L'ASL il faut s'acquitter d'une cotisation annuelle et
                        individuelle de 10 €
                        pour la saison. Cette adhésion implique le respect par ses membres des statuts et du règlement
                        intérieur à l'association.</p>

                    <p class="text-justify">Les membres de l'association sont couverts par une assurance garantissant
                        leur responsabilité
                        civile
                        et le remboursement complémentaire de leurs frais médicaux consécutifs aux accidents survenus
                        lors
                        des activités organisées par l'ASL.</p>

                    <p>En dehors des activités courantes réservées à ses adhérents, l'ASL organise au cours de l'année
                        des
                        tournois dans diverses disciplines, qui sont généralement ouverts à tous les salariés de
                        Lectra.</p>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">

                    <p class="text-justify">Un conseil d'administration est chargé de la gestion de l'association. Il
                        est aidé par
                        des responsables de sections nommés par lui. Le CA est organisé en bureau se réunissant
                        régulièrement et au sein duquel chacun exerce une responsabilité particulière. Chaque
                        administrateur
                        est élu pour trois ans. Le renouvellement du CA s'effectue par tiers tous les ans lors de
                        l'assemblée générale ordinaire ponctuant l'exercice courant. A la suite de cela, un nouveau
                        bureau
                        est constitué pour le nouvel exercice. Ces divers animateurs sont des bénévoles qui n'ont que
                        des
                        obligations. Il ne tient qu'à vous -membre de l'association- de venir les rejoindre soit pour
                        initier une nouvelle activité, soit pour influer le fonctionnement de celle qui ne vous convient
                        pas
                        ou, encore mieux, pour entrer au saint des saints que constitue le conseil d'administration.
                        Chaque exercice court du 1er septembre au 31 août de l'année suivante.
                        Au cours des ans, le CA a été amené à fixer un certain nombre de règles de fonctionnement.
                    </p>
                    <br>
                    <p>

                    <div class="col-sm-6 col-sm-push-1 col-xs-12 wow fadeInLeft" data-wow-duration="1000ms"
                         data-wow-delay="300ms">
                        <a href="documents/ASL_Statuts_54.pdf" style="color:white;">
                            <i class="fa fa-balance-scale fa-3x"></i>

                            <p>Statuts</p>
                        </a>
                    </div>
                    <div class="col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1000ms"
                         data-wow-delay="500ms">
                        <a href="documents/ASL_Reglement_Interieur_44.pdf" style="color:white;">
                            <i class="fa fa-book fa-3x"></i>

                            <p>Règlement intérieur</p>
                        </a>
                    </div>
                    </p>

                </div>
            </div>

        </div>
    </div>
</section>
<!--/#about-us-->

<section id="contact">
    <h2 class="text-center">Plan d'accès</h2>

    <div id="google-map" class="wow fadeIn" data-latitude="44.760006" data-longitude="-0.683947"
         data-wow-duration="1000ms" data-wow-delay="400ms"></div>
</section>
<!--/#contact-->
<footer id="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">Créé par <a href="http://maxidev.fr">Maxime MAHEO</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="js/jquery.inview.min.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>
<script type="text/javascript" src="js/mousescroll.js"></script>
<script type="text/javascript" src="js/smoothscroll.js"></script>
<script type="text/javascript" src="js/jquery.countTo.js"></script>
<script type="text/javascript" src="js/lightbox.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>